---
layout: default
---

<div class="row header-row"> <!-- 0 -->

<div class="col-md-9"> <!--1-->
	<ul class="course-information">
    	<li> <b>Instructor</b>: {{ site.instructor }} </li>
    	<li> <b>Office</b>: {{ site.office }} </li>
    	<li> <b>Lecture Schedule</b>: {{ site.lecture_schedule }} </li>
      {% if site.office_hours %}
      <li> <b>Office Hours</b>: {{ site.office_hours }}</li>
      {% endif %}
      {% if site.TA_office_hours %}
      <li> <b>TA Office Hours</b>: {{ site.TA_office_hours }}</li>
      {% endif %}
	</ul>

<div class="row well well-sm">
	<div class="col-md-12">
	  <h4>Final exam in Business Rockefeller Road room 3071 (not 1071!)<br
    />
    12-3pm, Thursday, May 9 </h4>
	</div>
	<div class="col-md-9">
	  <b>Practice sheet for final exam</b>
	</div>
	<div class="col-md-3">
		<a href="exams/practice-final.pdf"><button type="button"
    class="btn btn-lnk btn-spaced">pdf</button></a>
	</div>
</div>

<div class="row well well-sm">
	<div class="col-md-9">
	  <b>Practice sheet for exam 2</b>
	</div>
	<div class="col-md-3">
		<a href="exams/practice2.pdf"><button type="button"
    class="btn btn-lnk btn-spaced">pdf</button></a>
	</div>
	<div class="col-md-9">
	  <b>Partial solutions for practice sheet for exam 2</b>
	</div>
	<div class="col-md-3">
		<a href="exams/practice2-solns.pdf"><button type="button"
    class="btn btn-lnk btn-spaced">pdf</button></a>
	</div>
</div>

<div class="row well well-sm">
	<div class="col-md-9">
	  <b>Practice sheet for exam 1</b>
	</div>
	<div class="col-md-3">
		<a href="exams/practice1.pdf"><button type="button"
    class="btn btn-lnk btn-spaced">pdf</button></a>
	</div>
	<div class="col-md-9">
	  <b>Partial solutions for practice sheet for exam 1</b>
	</div>
	<div class="col-md-3">
		<a href="exams/practice1-solns.pdf"><button type="button"
    class="btn btn-lnk btn-spaced">pdf</button></a>
	</div>
</div>

{% for h in site.data.homework %}
<div class="row well well-sm">
	<div class="col-md-9">
	  <b>{{h.title}}</b>: due {{h.due}}
	</div>
	<div class="col-md-3">
    {% if h.filename %}
		<a href="homework/{{ h.filename }}"><button type="button"
    class="btn btn-lnk btn-spaced">pdf</button></a>
    {% endif %}
	</div>
</div>
{% endfor %}
</div><!--/1 -->

</div><!--/0 -->




