---
layout: default
---
<div class="row header-row">
{% for l in site.data.lectures %}
<div class="row well well-sm">
	<div class="col-md-9">
	  <b>{{l.title}}</b>: {{l.description}}
	</div>
	<div class="col-md-3">
    {% if l.filename %}
		<a href="{{ l.filename }}"><button type="button"
    class="btn btn-lnk btn-spaced">pdf</button></a>
    {% endif %}
    {% if l.video_url %}
    <a href="{{ l.vieo_url }}"><button type="button"
    class="btn btn-lnk btn-spaced">video</button></a>
    {% endif %}
	</div>
</div>
{% endfor %}
</div>
